<h1>
    All users
</h1>

<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

  


  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
    <td mat-cell *matCellDef="let element">  <a [routerLink]="['/userDetail', element._id]">{{element.first_name}}</a> </td>
  </ng-container>


  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>


  


<ng-container matColumnDef="job">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Job </th>
  <td mat-cell *matCellDef="let element"> {{element.job}} </td>
</ng-container>


<ng-container matColumnDef="salary">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
  <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
</ng-container>

<ng-container matColumnDef="address">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
</ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 
  